.main {
    background-color: white;
    max-width: var(--max-view-app-width);
    min-width: var(--min-view-app-width);
    min-height: var(--min-view-app-height);
    margin: auto;
}

.main_article {
    margin: 10px;
    padding: 10px;
    text-align: justify;
}
