.footer {
    text-align: center;
    background-color: var(--primary-color);
    padding: 10px;
    max-width: var(--max-view-app-width);
    min-width: var(--min-view-app-width);
    margin: auto;
}
