@font-face {
    font-family: 'Noto Sans';
    src: url('../src/assets/fonts/Noto_Sans/NotoSans-Regular.ttf') format('ttf');
}
/*@font-face {
    font-family: 'Noto Sans';
    src: url('../src/assets/fonts/Noto_Sans/NotoSans-Black.ttf') format('ttf');
    font-weight: bolder;
}*/
* {
      /* Fonte */
    font-family: 'Noto Sans', monospace;
    font-size: 16px;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
:root {
    /* Paleta de cores */
    --page-bg-color: #414040;
    --primary-color: #ecf0f1;
    --text-link-color: rgb(29, 27, 27);
    --headerbar-btn-hover: #d6d6d6;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--page-bg-color);
}
